
  <div class="header-top bg-theme-color-sky sm-text-center p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="widget no-border m-0">
            <ul class="list-inline font-13 sm-text-center mt-5">
              <li>
                <a class="text-white" href="index-mp-layout1.html#">FAQ</a>
              </li>
              <li class="text-white">|</li>
              <li>
                <a class="text-white" href="index-mp-layout1.html#">Help Desk</a>
              </li>
              <li class="text-white">|</li>
              <li>
                <a class="text-white" href="index-mp-layout1.html#">Login</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="widget no-border m-0 mr-15 pull-right flip sm-pull-none sm-text-center">
            <ul class="styled-icons icon-circled icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f text-white"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fab fa-twitter text-white"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fab fa-google-plus text-white"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fab fa-instagram text-white"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fab fa-linkedin text-white"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle p-0 bg-lightest xs-text-center">
    <div class="container pt-0 pb-0">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-5">
          <div class="widget no-border m-0">
            <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img src="/src/assets/images/logo-wide.png" alt=""></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
            <ul class="list-inline">
              <li><i class="fa fa-phone-square text-theme-color-sky font-36 mt-5 sm-display-block"></i></li>
              <li>
                <a href="index-mp-layout1.html#" class="font-12 text-black text-uppercase">Call us today!</a>
                <h5 class="font-14 text-theme-color-blue m-0"> +(012) 345 6789</h5>
              </li>
            </ul>
          </div>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
            <ul class="list-inline">
              <li><i class="fa fa-clock-o text-theme-color-red font-36 mt-5 sm-display-block"></i></li>
              <li>
                <a href="index-mp-layout1.html#" class="font-12 text-black text-uppercase">We are open!</a>
                <h5 class="font-13 text-theme-color-blue m-0"> Mon-Fri 8:00-16:00</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-color-red border-bottom-theme-color-sky-2px">
      <div class="container">
        <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
          <ul class="menuzord-menu">
            <li class="active"><a href="index-mp-layout1.html#home">Home</a>
              <ul class="dropdown">
              </ul>
            </li>
            <li><a href="index-mp-layout1.html#">Features</a>
            <li><a href="index-mp-layout1.html#">Pages</a>
              <ul class="dropdown">
                <li><a href="page-timetable.html">Time Table</a></li>
                <li><a href="index-mp-layout1.html#">About</a>
                  <ul class="dropdown">
                    <li><a href="page-about-style1.html">About Style 1</a></li>
                    <li><a href="page-about-style2.html">About Style 2</a></li>
                  </ul>
                </li>
                <li><a href="http://thememascot.net/demo/personal/s/kidspro/v2.0/demo/page-gallery.html">Gallery</a></li>
                <li><a href="index-mp-layout1.html#">Pricing</a>
                  <ul class="dropdown">
                    <li><a href="page-pricing-style1.html">Pricing style1</a></li>
                    <li><a href="page-pricing-style2.html">Pricing style2</a></li>
                  </ul>
                </li>
                <li><a href="index-mp-layout1.html#">Shop</a>
                </li>
                <li><a href="index-mp-layout1.html#">Calender</a>
                </li>
                <li><a href="index-mp-layout1.html#">Events</a>
                </li>
                <li><a href="page-faqs.html">Faqs</a></li>
                <li><a href="page-coming-soon.html">Coming Soon</a></li>
                <li><a href="page-404.html">Page 404</a></li>
                <li><a href="page-under-construction.html">Under Construction</a></li>
              </ul>
            </li>
            <li><a href="index-mp-layout1.html#home">Courses</a>
            </li>
            <li><a href="index-mp-layout1.html#home">Teachers</a>
            </li>
            <li><a href="index-mp-layout1.html#">Blog</a>
            </li>        
            <li><a href="index-mp-layout1.html#">Shortcodes</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <div class="col3">
                    <ul class="list-unstyled list-dashed">
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="pull-right flip hidden-sm hidden-xs">
            <li>
              <!-- Modal: Book Now Starts -->
              <a class="btn btn-colored btn-flat bg-theme-color-sky text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15" data-toggle="modal" data-target="#BSParentModal" href="">Reservacion</a>
              <!-- Modal: Book Now End -->
            </li>
          </ul>
          <ul class="pull-right flip hidden-sm hidden-xs">
            <li>
              <!-- Modal: Book Now Starts -->
              <a class="btn btn-colored btn-flat bg-theme-color-sky text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15" data-toggle="modal" data-target="#BSParentModal" href="">Registrarse</a>
              <!-- Modal: Book Now End -->
            </li>
          </ul>
          <div id="top-search-bar" class="collapse">
            <div class="container">
              <form role="search" action="index-mp-layout1.html#" class="search_form_top" method="get">
                <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                <span class="search-close"><i class="fa fa-search"></i></span>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
<!-- JS | Custom script for all pages -->
<script src="../../../assets/js/custom.js"></script>

